$bg-light: rgb(248, 249, 250);

$purple: #6f4bf2;
$blue: #3299d9;

$nav-text-color: rgba(0, 0, 0, 0.55);
$nav-hover-color: rgba(0, 0, 0, 0.7);
$nav-active-color: rgba(0, 0, 0, 0.7);

$border-color: #dee2e6;

$small: 600px;
$medium: 996px;
