@import "../../styles/variables";

.product-main {
  color: $text-color;
  .inner-container {
    flex-direction: row-reverse;
    gap: 2rem;
    align-items: center;
  }

  .product-info {
    flex: 1;
  }

  .img-container {
    flex: 1;
    position: relative;
    box-shadow: $shadow;
    border-radius: 5px;

    img {
      border-radius: 5px;
    }
  }

  @media screen and (max-width: $small) {
    .inner-container {
      flex-direction: column-reverse;
    }

    .img-container {
      flex: none;
    }
  }
}
